// Bootstrap
@import '~bootstrap/scss/bootstrap';

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.card-img-top {
    position: relative;
}
.card-title-wrap{
    color: #fff;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    text-align: center;
    font-size: 20px;
}
.category-title{
    font-size: 14px;
}
